%div.columns.large-3.signin
  = form_for @plat do |f|
    = f.label :description
    = f.text_field :description
    = f.label :price
    = f.text_field :price
    = f.file_field :avatar
    - if @plat.avatar?
      = image_tag @plat.avatar.url(:medium)
      %span delete image
      = check_box_tag 'img_delete'
    = f.label :release
    = f.datetime_select :release, :default => Date.today, :type => 'date', :discard_minute => true
    = f.submit 'Platter', :class => 'button radius'
%div.columns.large-9