<div class ="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <% if @current_user.present? %>
          <% if @current_user.type  %>
            <li><%= link_to('Restaurant Profile', edit_restaurant_path(@current_user), :class => 'button') %></li>
            <li><%= link_to('Plats', plats_path, :class => 'button') %></li>
          <% else %>
            <li><%= link_to('User Profile', edit_user_path(@current_user), :class => 'button') %></li>
          <% end %>
          <li><%= link_to('Map of Restaurants', restaurants_path, :class => 'button') %></li>
          <li><%= link_to(@current_user.name, signin_path, :method => :delete, :class => 'button alert') %></li>
        <% end %>
      </ul>
    </div>
    <h2>Plats du Jour</h2>
  </div>
</div>